# === REQUIS ===
API_TOKEN=remplacez_par_une_chaine_aleatoire_de_64_caracteres
CAPTCHA_API_KEY=votre_cle_2captcha
TARGET_URL=https://www.coteetsport.ma/

# === OPTIONNEL ===
RECAPTCHA_SITEKEY=
HEADLESS=true
PORT=8000
